@charset "UTF-8";

/*
Tudo que em HTML é id em CSS é # (só pode um elemento);
Tudo que em HTML é class em CSS é . (pode vários elementos);
*/

body {
    background-color: rgb(213, 228, 190);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(112, 160, 39);
}

h1#principal {
    text-align: center;
    background-color:rgb(112, 160, 39);
    color: white;
}

h2 {
    color: rgb(88, 114, 50);
}

.basico {
    color: green;
}

.intermediario {
    color: rgb(12, 97, 12)
}

.avancado {
    color: rgb(29, 49, 29);
}

.destaque {
    background-color: rgba(228, 228, 142, 0.637);
}